# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
env.*/
venv.*/
*.venv

# VSCode / IDE
.vscode/
.idea/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Vercel config folder
.vercel/

# Environment / secrets
.env
*.env
.env.local
.env.*.local

# Logs
*.log
